In [1]:
#import numpy and pandas
import numpy as np
import pandas as pd

from pathlib import Path

In [2]:
data_folder = Path("Data")
data_file = data_folder/ "nyc_benchmarking_disclosure_2017_consumption_data.csv"
data = pd.read_csv(data_file)

/home/kishore145/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', 100)
data.head()

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2 (self-reported),Postal Code,Street Number,Street Name,Borough,DOF Gross Floor Area (ft²),Self-Reported Gross Floor Area (ft²),Primary Property Type - Self Selected,List of All Property Use Types at Property,Largest Property Use Type,Largest Property Use Type - Gross Floor Area (ft²),2nd Largest Property Use Type,2nd Largest Property Use - Gross Floor Area (ft²),3rd Largest Property Use Type,3rd Largest Property Use Type - Gross Floor Area (ft²),Year Built,Number of Buildings,Occupancy,Metered Areas (Energy),Metered Areas (Water),ENERGY STAR Score,Source EUI (kBtu/ft²),Weather Normalized Source EUI (kBtu/ft²),Site EUI (kBtu/ft²),Weather Normalized Site EUI (kBtu/ft²),Weather Normalized Site Electricity Intensity (kWh/ft²),Weather Normalized Site Natural Gas Intensity (therms/ft²),Fuel Oil #1 Use (kBtu),Fuel Oil #2 Use (kBtu),Fuel Oil #4 Use (kBtu),Fuel Oil #5 & 6 Use (kBtu),Diesel #2 Use (kBtu),Propane Use (kBtu),District Steam Use (kBtu),District Hot Water Use (kBtu),District Chilled Water Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Electricity Use - Grid Purchase (kWh),Weather Normalized Site Electricity (kWh),Annual Maximum Demand (kW),Annual Maximum Demand (MM/YYYY),Total GHG Emissions (Metric Tons CO2e),Direct GHG Emissions (Metric Tons CO2e),Indirect GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),Water Use Intensity (All Water Sources) (gal/ft²),Water Required?,Generation Date,DOF Benchmarking Submission Status
0,1,4593574,The Argonaut Building,NaN,NaN,1010287502,1010287502,1024898,224 West 57th St,NaN,10019,Not found,Not found,Manhattan,Not found,169416,Office,"Bank Branch, Office",Office,164754.0,Bank Branch,4662.0,NaN,NaN,1909,1,95,Whole Building,Whole Building,90.0,138.4,141.0,53.8,56.2,11.3,0.1,NaN,NaN,NaN,NaN,NaN,NaN,1133475.1,NaN,NaN,1435754.7,16672.2,6551394.1,1920103.6,1920103.6,NaN,NaN,732.4,76.3,656.1,3635.5,21.46,Not found,2/14/2018,Not found
1,3,2967701,Cathedral Preparatory Seminary,NaN,NaN,4018720007,4-01872-0007,4046340,56-25 92nd Street,NaN,11373,Not found,Not found,Queens,Not found,94380,K-12 School,K-12 School,K-12 School,94380.0,NaN,NaN,NaN,NaN,1963,1,100,Whole Building,NaN,100.0,43.5,46.8,28.4,31.3,2.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2068300.1,23243.7,616343.7,180640.0,184131.9,NaN,NaN,164.5,109.9,54.6,102.9,1.09,Not found,2/14/2018,Not found
2,4,4898531,The Nomad Hotel,NaN,NaN,1008290050,1-00829-0050,1080710,1170 Broadway,NaN,10001-7507,Not found,Not found,Manhattan,Not found,125000,Hotel,Hotel,Hotel,125000.0,NaN,NaN,NaN,NaN,1999,1,85,Whole Building,Whole Building,83.0,271.1,274.7,130.2,133.7,18.8,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245445.1,86776.9,8033914.4,2354605.3,2354605.3,NaN,NaN,1150.2,438.0,712.3,10762.6,86.10,Not found,2/14/2018,Not found
3,5,2917939,10 West 27 Street Corp,NaN,NaN,1008280053,1-00828-0053,1015657,1155 Broadway,NaN,10001,Not found,Not found,Manhattan,Not found,50000,Hotel,Hotel,Hotel,50000.0,NaN,NaN,NaN,NaN,1994,1,100,Whole Building,NaN,27.0,163.0,167.9,76.5,80.8,11.7,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848519.4,20520.9,1976691.9,579335.2,582516.1,NaN,NaN,273.4,98.2,175.3,790.1,15.80,Not found,2/14/2018,Not found
4,6,3878205,Westbury Realty,NaN,NaN,1000650024,1-00065-0024,1001105,24 John Street,NaN,10038,Not found,Not found,Manhattan,Not found,50000,Hotel,Hotel,Hotel,50000.0,NaN,NaN,NaN,NaN,2012,1,0,Whole Building,Whole Building,99.0,64.2,64.2,20.5,20.5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1022951.6,299809.9,299809.9,NaN,NaN,90.7,0.0,90.7,143.0,2.86,Not found,2/14/2018,Not found

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34355 entries, 0 to 34354
Data columns (total 60 columns):
Order                                                         34355 non-null int64
Property Id                                                   34355 non-null int64
Property Name                                                 34355 non-null object
Parent Property Id                                            1723 non-null object
Parent Property Name                                          1723 non-null object
BBL - 10 digits                                               33625 non-null object
NYC Borough, Block and Lot (BBL) self-reported                33626 non-null object
NYC Building Identification Number (BIN)                      33123 non-null object
Address 1 (self-reported)                                     34355 non-null object
Address 2 (self-reported)                                     427 non-null object
Postal Code                                                   34355 non-null object
Street Number                                                 34355 non-null object
Street Name                                                   34355 non-null object
Borough                                                       34355 non-null object
DOF Gross Floor Area (ft²)                                    34355 non-null object
Self-Reported Gross Floor Area (ft²)                          34355 non-null int64
Primary Property Type - Self Selected                         34355 non-null object
List of All Property Use Types at Property                    34342 non-null object
Largest Property Use Type                                     34323 non-null object
Largest Property Use Type - Gross Floor Area (ft²)            34323 non-null float64
2nd Largest Property Use Type                                 7226 non-null object
2nd Largest Property Use - Gross Floor Area (ft²)             7226 non-null float64
3rd Largest Property Use Type                                 2450 non-null object
3rd Largest Property Use Type - Gross Floor Area (ft²)        2450 non-null float64
Year Built                                                    34355 non-null int64
Number of Buildings                                           34355 non-null int64
Occupancy                                                     34355 non-null int64
Metered Areas (Energy)                                        31710 non-null object
Metered Areas  (Water)                                        14546 non-null object
ENERGY STAR Score                                             25454 non-null float64
Source EUI (kBtu/ft²)                                         31888 non-null float64
Weather Normalized Source EUI (kBtu/ft²)                      28560 non-null float64
Site EUI (kBtu/ft²)                                           31888 non-null float64
Weather Normalized Site EUI (kBtu/ft²)                        28560 non-null float64
Weather Normalized Site Electricity Intensity (kWh/ft²)       31001 non-null float64
Weather Normalized Site Natural Gas Intensity (therms/ft²)    28042 non-null float64
Fuel Oil #1 Use (kBtu)                                        36 non-null float64
Fuel Oil #2 Use (kBtu)                                        5664 non-null float64
Fuel Oil #4 Use (kBtu)                                        2378 non-null float64
Fuel Oil #5 & 6 Use (kBtu)                                    484 non-null float64
Diesel #2 Use (kBtu)                                          70 non-null float64
Propane Use (kBtu)                                            1 non-null float64
District Steam Use (kBtu)                                     1568 non-null float64
District Hot Water Use (kBtu)                                 8 non-null float64
District Chilled Water Use (kBtu)                             30 non-null float64
Natural Gas Use (kBtu)                                        28819 non-null float64
Weather Normalized Site Natural Gas Use (therms)              28047 non-null float64
Electricity Use - Grid Purchase (kBtu)                        31576 non-null float64
Electricity Use - Grid Purchase (kWh)                         31576 non-null float64
Weather Normalized Site Electricity (kWh)                     31013 non-null float64
Annual Maximum Demand (kW)                                    2383 non-null float64
Annual Maximum Demand (MM/YYYY)                               2383 non-null object
Total GHG Emissions (Metric Tons CO2e)                        32957 non-null float64
Direct GHG Emissions (Metric Tons CO2e)                       33116 non-null float64
Indirect GHG Emissions (Metric Tons CO2e)                     33088 non-null float64
Water Use (All Water Sources) (kgal)                          18280 non-null float64
Water Use Intensity (All Water Sources) (gal/ft²)             18271 non-null float64
Water Required?                                               34355 non-null object
Generation Date                                               34355 non-null object
DOF Benchmarking Submission Status                            34355 non-null object
dtypes: float64(30), int64(6), object(24)
memory usage: 15.7+ MB

In [5]:
data = data.replace({'Not found': np.nan, ' Not found ' : np.nan})

In [6]:
data.head()

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2 (self-reported),Postal Code,Street Number,Street Name,Borough,DOF Gross Floor Area (ft²),Self-Reported Gross Floor Area (ft²),Primary Property Type - Self Selected,List of All Property Use Types at Property,Largest Property Use Type,Largest Property Use Type - Gross Floor Area (ft²),2nd Largest Property Use Type,2nd Largest Property Use - Gross Floor Area (ft²),3rd Largest Property Use Type,3rd Largest Property Use Type - Gross Floor Area (ft²),Year Built,Number of Buildings,Occupancy,Metered Areas (Energy),Metered Areas (Water),ENERGY STAR Score,Source EUI (kBtu/ft²),Weather Normalized Source EUI (kBtu/ft²),Site EUI (kBtu/ft²),Weather Normalized Site EUI (kBtu/ft²),Weather Normalized Site Electricity Intensity (kWh/ft²),Weather Normalized Site Natural Gas Intensity (therms/ft²),Fuel Oil #1 Use (kBtu),Fuel Oil #2 Use (kBtu),Fuel Oil #4 Use (kBtu),Fuel Oil #5 & 6 Use (kBtu),Diesel #2 Use (kBtu),Propane Use (kBtu),District Steam Use (kBtu),District Hot Water Use (kBtu),District Chilled Water Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Electricity Use - Grid Purchase (kWh),Weather Normalized Site Electricity (kWh),Annual Maximum Demand (kW),Annual Maximum Demand (MM/YYYY),Total GHG Emissions (Metric Tons CO2e),Direct GHG Emissions (Metric Tons CO2e),Indirect GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),Water Use Intensity (All Water Sources) (gal/ft²),Water Required?,Generation Date,DOF Benchmarking Submission Status
0,1,4593574,The Argonaut Building,NaN,NaN,1010287502,1010287502,1024898,224 West 57th St,NaN,10019,NaN,NaN,Manhattan,NaN,169416,Office,"Bank Branch, Office",Office,164754.0,Bank Branch,4662.0,NaN,NaN,1909,1,95,Whole Building,Whole Building,90.0,138.4,141.0,53.8,56.2,11.3,0.1,NaN,NaN,NaN,NaN,NaN,NaN,1133475.1,NaN,NaN,1435754.7,16672.2,6551394.1,1920103.6,1920103.6,NaN,NaN,732.4,76.3,656.1,3635.5,21.46,NaN,2/14/2018,NaN
1,3,2967701,Cathedral Preparatory Seminary,NaN,NaN,4018720007,4-01872-0007,4046340,56-25 92nd Street,NaN,11373,NaN,NaN,Queens,NaN,94380,K-12 School,K-12 School,K-12 School,94380.0,NaN,NaN,NaN,NaN,1963,1,100,Whole Building,NaN,100.0,43.5,46.8,28.4,31.3,2.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2068300.1,23243.7,616343.7,180640.0,184131.9,NaN,NaN,164.5,109.9,54.6,102.9,1.09,NaN,2/14/2018,NaN
2,4,4898531,The Nomad Hotel,NaN,NaN,1008290050,1-00829-0050,1080710,1170 Broadway,NaN,10001-7507,NaN,NaN,Manhattan,NaN,125000,Hotel,Hotel,Hotel,125000.0,NaN,NaN,NaN,NaN,1999,1,85,Whole Building,Whole Building,83.0,271.1,274.7,130.2,133.7,18.8,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8245445.1,86776.9,8033914.4,2354605.3,2354605.3,NaN,NaN,1150.2,438.0,712.3,10762.6,86.10,NaN,2/14/2018,NaN
3,5,2917939,10 West 27 Street Corp,NaN,NaN,1008280053,1-00828-0053,1015657,1155 Broadway,NaN,10001,NaN,NaN,Manhattan,NaN,50000,Hotel,Hotel,Hotel,50000.0,NaN,NaN,NaN,NaN,1994,1,100,Whole Building,NaN,27.0,163.0,167.9,76.5,80.8,11.7,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848519.4,20520.9,1976691.9,579335.2,582516.1,NaN,NaN,273.4,98.2,175.3,790.1,15.80,NaN,2/14/2018,NaN
4,6,3878205,Westbury Realty,NaN,NaN,1000650024,1-00065-0024,1001105,24 John Street,NaN,10038,NaN,NaN,Manhattan,NaN,50000,Hotel,Hotel,Hotel,50000.0,NaN,NaN,NaN,NaN,2012,1,0,Whole Building,Whole Building,99.0,64.2,64.2,20.5,20.5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1022951.6,299809.9,299809.9,NaN,NaN,90.7,0.0,90.7,143.0,2.86,NaN,2/14/2018,NaN

In [7]:
# Iterate through the columns
for col in list(data.columns):
    # Select columns that should be numeric
    if ('ft²' in col or 'kBtu' in col or 'Metric Tons CO2e' in col or 'kWh' in 
        col or 'therms' in col or 'gal' in col or 'Score' in col or 'kW' in col):
        # Convert the data type to float
        data[col] = data[col].astype(float)

In [8]:
data.describe()

,Order,Property Id,Street Number,Street Name,DOF Gross Floor Area (ft²),Self-Reported Gross Floor Area (ft²),Largest Property Use Type - Gross Floor Area (ft²),2nd Largest Property Use - Gross Floor Area (ft²),3rd Largest Property Use Type - Gross Floor Area (ft²),Year Built,Number of Buildings,Occupancy,ENERGY STAR Score,Source EUI (kBtu/ft²),Weather Normalized Source EUI (kBtu/ft²),Site EUI (kBtu/ft²),Weather Normalized Site EUI (kBtu/ft²),Weather Normalized Site Electricity Intensity (kWh/ft²),Weather Normalized Site Natural Gas Intensity (therms/ft²),Fuel Oil #1 Use (kBtu),Fuel Oil #2 Use (kBtu),Fuel Oil #4 Use (kBtu),Fuel Oil #5 & 6 Use (kBtu),Diesel #2 Use (kBtu),Propane Use (kBtu),District Steam Use (kBtu),District Hot Water Use (kBtu),District Chilled Water Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Electricity Use - Grid Purchase (kWh),Weather Normalized Site Electricity (kWh),Annual Maximum Demand (kW),Total GHG Emissions (Metric Tons CO2e),Direct GHG Emissions (Metric Tons CO2e),Indirect GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),Water Use Intensity (All Water Sources) (gal/ft²),Water Required?,DOF Benchmarking Submission Status
count,34355.000000,3.435500e+04,0.0,0.0,0.0,3.435500e+04,3.432300e+04,7226.000000,2450.000000,34355.000000,34355.000000,34355.000000,25454.000000,3.188800e+04,2.856000e+04,3.188800e+04,2.856000e+04,31001.000000,28042.000000,3.600000e+01,5.664000e+03,2.378000e+03,4.840000e+02,7.000000e+01,1.0,1.568000e+03,8.000000e+00,3.000000e+01,2.881900e+04,2.804700e+04,3.157600e+04,3.157600e+04,3.101300e+04,2.383000e+03,3.295700e+04,3.311600e+04,3.308800e+04,1.828000e+04,1.827100e+04,0.0,0.0
mean,17355.145103,4.710374e+06,NaN,NaN,NaN,1.149392e+05,1.115422e+05,20136.231746,11179.502776,1946.106855,1.196565,98.393101,53.927163,1.265785e+03,1.393057e+03,9.922633e+02,1.094395e+03,15.869072,1.154839,1.653033e+06,2.523975e+06,5.136646e+06,3.145131e+06,9.300335e+05,11919336.1,5.349682e+09,1.014108e+08,6.269823e+07,3.468670e+07,3.576895e+05,3.833599e+06,1.123563e+06,1.126104e+06,2.635069e+03,1.893548e+04,1.665273e+03,1.719766e+04,9.964984e+03,5.869470e+02,NaN,NaN
std,10016.661222,1.676669e+06,NaN,NaN,NaN,2.164591e+05,2.108989e+05,51022.113092,24105.730990,32.725881,2.959191,8.917131,32.573629,1.626921e+05,1.719455e+05,1.349948e+05,1.426694e+05,946.687948,58.542330,1.809641e+06,4.500459e+06,4.704320e+06,4.320395e+06,1.924976e+06,NaN,2.036540e+11,1.219380e+08,1.122653e+08,3.272738e+09,3.329299e+07,1.249719e+07,3.662716e+06,3.674892e+06,5.617472e+04,2.954070e+06,1.621715e+05,2.943758e+06,9.190300e+04,5.251308e+04,NaN,NaN
min,1.000000,7.365000e+03,NaN,NaN,NaN,0.000000e+00,1.000000e+00,0.000000,0.000000,1051.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,11919336.1,-3.833694e+08,2.507188e+06,1.082000e+04,0.000000e+00,0.000000e+00,-6.343300e+03,-1.859100e+03,-1.859100e+03,0.000000e+00,0.000000e+00,0.000000e+00,-1.760050e+04,0.000000e+00,0.000000e+00,NaN,NaN
25%,8666.500000,2.825644e+06,NaN,NaN,NaN,4.227300e+04,4.175000e+04,3500.000000,1899.000000,1925.000000,1.000000,100.000000,25.000000,9.350000e+01,9.750000e+01,5.800000e+01,6.060000e+01,3.800000,0.100000,1.998125e+05,2.209035e+05,2.836561e+06,6.749850e+04,0.000000e+00,11919336.1,4.044238e+06,2.507188e+06,1.570166e+06,8.169667e+05,8.581150e+03,6.888429e+05,2.018883e+05,2.022287e+05,4.560000e+01,1.841000e+02,6.040000e+01,5.380000e+01,1.954200e+03,2.847000e+01,NaN,NaN
50%,17383.000000,4.897531e+06,NaN,NaN,NaN,6.582000e+04,6.438100e+04,8000.000000,5000.000000,1935.000000,1.000000,100.000000,56.000000,1.224000e+02,1.276000e+02,7.990000e+01,8.380000e+01,5.300000,0.500000,3.693091e+05,1.226102e+06,4.176257e+06,1.790936e+06,2.357089e+05,11919336.1,1.063606e+07,3.106487e+07,1.250233e+07,3.001860e+06,3.226560e+04,1.249026e+06,3.660686e+05,3.673331e+05,1.760000e+02,3.283000e+02,1.888000e+02,1.024000e+02,3.794200e+03,5.003000e+01,NaN,NaN
75%,26028.500000,6.297280e+06,NaN,NaN,NaN,1.136150e+05,1.116050e+05,16326.250000,11200.000000,1965.000000,1.000000,100.000000,83.000000,1.628000e+02,1.689000e+02,1.034000e+02,1.085000e+02,9.500000,0.800000,3.266778e+06,3.488405e+06,6.256246e+06,5.250004e+06,1.006850e+06,11919336.1,2.236463e+07,2.472118e+08,5.873067e+07,5.429481e+06,5.846190e+04,2.828563e+06,8.290043e+05,8.342771e+05,3.080000e+02,5.962000e+02,3.313000e+02,2.387250e+02,6.631100e+03,8.339500e+01,NaN,NaN
max,34686.000000,6.716654e+06,NaN,NaN,NaN,1.507766e+07,1.507766e+07,992059.400000,591640.000000,2021.000000,161.000000,100.000000,100.000000,2.894294e+07,2.894295e+07,2.405806e+07,2.405806e+07,136157.700000,9258.400000,5.465619e+06,1.361733e+08,8.532474e+07,4.913880e+07,1.138072e+07,11919336.1,8.063850e+12,2.472118e+08,3.676676e+08,3.922190e+11,3.936197e+09,5.742834e+08,1.683128e+08,1.676955e+08,2.553601e+06,5.354297e+08,2.083388e+07,5.354297e+08,5.446590e+06,6.913227e+06,NaN,NaN

In [9]:
# Function for providing a summary of missing values in a DataFrame
# Courtsey: https://stackoverflow.com/a/39734251

def find_missing_values(df):
    '''Function accepts a dataframe and returns summary of missing values'''
    #find missing values & corresponding percentage
    miss_value = df.isnull().sum()
    miss_value_perc = df.isnull().sum() / len(df)
    
    #concatenate the two data frames into a single table
    miss_value_table = pd.concat([miss_value, miss_value_perc], axis = 1 )
    
    #rename columns and remove columns having no null values
    miss_value_table = miss_value_table.rename(
        columns = {0: 'Missing Values', 1 : '% Missing values'})
    
    # Use iloc to create a bool df for columns which have missing values which is used to filter data
    miss_value_table = miss_value_table[
        miss_value_table.iloc[:,0]!=0].round(3).sort_values(
        '% Missing values', ascending = False)
    
    #format and print a summary
    op_text = f'''Input data frame contains {len(df.columns)} columns of which
    {len(miss_value_table)} columns are having missing values'''
    
    print(op_text)
    
    #return the summary of missing values
    return miss_value_table

In [10]:
miss_value_summary = find_missing_values(data)
miss_value_summary

Input data frame contains 60 columns of which
    48 columns are having missing values

,Missing Values,% Missing values
DOF Benchmarking Submission Status,34355,1.000
Water Required?,34355,1.000
District Hot Water Use (kBtu),34347,1.000
Street Number,34355,1.000
Street Name,34355,1.000
DOF Gross Floor Area (ft²),34355,1.000
Propane Use (kBtu),34354,1.000
District Chilled Water Use (kBtu),34325,0.999
Fuel Oil #1 Use (kBtu),34319,0.999
Diesel #2 Use (kBtu),34285,0.998
Address 2 (self-reported),33928,0.988
Fuel Oil #5 & 6 Use (kBtu),33871,0.986
District Steam Use (kBtu),32787,0.954
Parent Property Name,32632,0.950
Parent Property Id,32632,0.950
Annual Maximum Demand (MM/YYYY),31972,0.931
Annual Maximum Demand (kW),31972,0.931
Fuel Oil #4 Use (kBtu),31977,0.931
3rd Largest Property Use Type - Gross Floor Area (ft²),31905,0.929
3rd Largest Property Use Type,31905,0.929
Fuel Oil #2 Use (kBtu),28691,0.835
2nd Largest Property Use Type,27129,0.790
2nd Largest Property Use - Gross Floor Area (ft²),27129,0.790
Metered Areas (Water),19809,0.577
Water Use Intensity (All Water Sources) (gal/ft²),16084,0.468
Water Use (All Water Sources) (kgal),16075,0.468
ENERGY STAR Score,8901,0.259
Weather Normalized Site Natural Gas Use (therms),6308,0.184
Weather Normalized Site Natural Gas Intensity (therms/ft²),6313,0.184
Weather Normalized Site EUI (kBtu/ft²),5795,0.169
Weather Normalized Source EUI (kBtu/ft²),5795,0.169
Natural Gas Use (kBtu),5536,0.161
Weather Normalized Site Electricity Intensity (kWh/ft²),3354,0.098
Weather Normalized Site Electricity (kWh),3342,0.097
Electricity Use - Grid Purchase (kBtu),2779,0.081
Electricity Use - Grid Purchase (kWh),2779,0.081
Metered Areas (Energy),2645,0.077
Source EUI (kBtu/ft²),2467,0.072
Site EUI (kBtu/ft²),2467,0.072
Total GHG Emissions (Metric Tons CO2e),1398,0.041
Indirect GHG Emissions (Metric Tons CO2e),1267,0.037
NYC Building Identification Number (BIN),1232,0.036
Direct GHG Emissions (Metric Tons CO2e),1239,0.036
"NYC Borough, Block and Lot (BBL) self-reported",729,0.021
BBL - 10 digits,730,0.021
Largest Property Use Type - Gross Floor Area (ft²),32,0.001
Largest Property Use Type,32,0.001
List of All Property Use Types at Property,13,0.000

In [11]:
# All columns which are having higher than 60% missing values will be eliminated for data analysis
miss_value_summary = miss_value_summary[miss_value_summary.iloc[:,1] < .6]
print(f'Dropping {len(miss_value_summary.index)} columns from original dataset')
data.drop(columns = list(miss_value_summary.index), inplace = True)

Dropping 25 columns from original dataset

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34355 entries, 0 to 34354
Data columns (total 35 columns):
Order                                                     34355 non-null int64
Property Id                                               34355 non-null int64
Property Name                                             34355 non-null object
Parent Property Id                                        1723 non-null object
Parent Property Name                                      1723 non-null object
Address 1 (self-reported)                                 34355 non-null object
Address 2 (self-reported)                                 427 non-null object
Postal Code                                               34355 non-null object
Street Number                                             0 non-null float64
Street Name                                               0 non-null float64
Borough                                                   34355 non-null object
DOF Gross Floor Area (ft²)                                0 non-null float64
Self-Reported Gross Floor Area (ft²)                      34355 non-null float64
Primary Property Type - Self Selected                     34355 non-null object
2nd Largest Property Use Type                             7226 non-null object
2nd Largest Property Use - Gross Floor Area (ft²)         7226 non-null float64
3rd Largest Property Use Type                             2450 non-null object
3rd Largest Property Use Type - Gross Floor Area (ft²)    2450 non-null float64
Year Built                                                34355 non-null int64
Number of Buildings                                       34355 non-null int64
Occupancy                                                 34355 non-null int64
Fuel Oil #1 Use (kBtu)                                    36 non-null float64
Fuel Oil #2 Use (kBtu)                                    5664 non-null float64
Fuel Oil #4 Use (kBtu)                                    2378 non-null float64
Fuel Oil #5 & 6 Use (kBtu)                                484 non-null float64
Diesel #2 Use (kBtu)                                      70 non-null float64
Propane Use (kBtu)                                        1 non-null float64
District Steam Use (kBtu)                                 1568 non-null float64
District Hot Water Use (kBtu)                             8 non-null float64
District Chilled Water Use (kBtu)                         30 non-null float64
Annual Maximum Demand (kW)                                2383 non-null float64
Annual Maximum Demand (MM/YYYY)                           2383 non-null object
Water Required?                                           0 non-null float64
Generation Date                                           34355 non-null object
DOF Benchmarking Submission Status                        0 non-null float64
dtypes: float64(18), int64(5), object(12)
memory usage: 9.2+ MB